@import '~bootstrap/scss/bootstrap';

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputStyle {
  font-size: 1.5em;
  padding: 3px;
  display: inline-block;
  width: 30%;
}

.flexImagelist {
  display: flex;
  flex-wrap: wrap;
}
